.chat{
    display: flex;
    flex-direction: column;
    flex: 0.65;
}

.chat__header{
    display: flex;
    justify-content: space-between;
    padding:10px;
    border-bottom: 1px solid lightgray;
    align-items: center;
    margin-left: 10px;
    
}
.chat__headerinfo{
    display: flex;
    flex-direction: column;
    flex:1;
    margin-left: 20px;
}

.chat__headerright{   
     display: flex;
    justify-content: space-between;
    min-width: 100px;
    
}
.chat__headerright .MuiSvgIcon-root {
    color: gray;
    padding: 10px;
}


.chat__body{
 padding: 10px;
 background-image: url("https://i.pinimg.com/originals/79/5c/ab/795cabc4647f73b365e2e6eabd0f34dc.png");
 background-size: contain;
 flex: 1;
 overflow: scroll;
 flex-direction: column;
}

.chat__message{
    border-radius:10px;
    background-color: white;
    position: relative;
    width: fit-content;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 30px;
}

.chat__reciver{
    margin-left:auto;
    background-color: #dcf8c6;
}

.chat__name{
    position: absolute;
    font-size: xx-small;
    margin-top: -15px;
    font-weight: bold;
}

.chat__timestamp{
    margin-left: 10px;
    font-size: xx-small;
}

.chat__footer{
    display:flex;
    align-items: center;
    justify-content:space-between;

}


.chat__footer, .MuiSVgIcon-root{
    color: blue;

}

.chat__footer > form{
    display:flex;
    flex:1;
    
    
}
.chat__footer >form>input{
    flex:1;
    border:none;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}
.chat__footer >form>button{
    display: none;
}

.chat__footer .MuiSvgIcon-root{
    color: gray;
}


.chat__headerright .MuiButton-root{
 height: 70px;
 width: 70px;

}

.chat__headerright .MuiButton-root:hover{
    border-radius: 50%;
    }

.chat__headerright .MuiButton-root .MuiSvgIcon-root{
 margin-left: 10px; 
}


.chat__messageImage{
    max-height: 300px;
    max-width: 400px;
}


.chat__file{
    display: flex;
}


.chat__fileName{
    text-transform: uppercase;
    
}

.chat__fileName:hover{
    text-transform: uppercase;
    text-decoration: underline;
}

#chat__logoutbutton:hover, #chat__logoutbutton:hover .MuiSvgIcon-root {
    color: red !important;
}

#chat__logoutbutton, #chat__logoutbutton .MuiSvgIcon-root{
    color: green !important;
}