.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.35;
    
    
}

.sidebar__header{
    justify-content: space-between;
    display:flex;
    border: 1px solid lightgray;
    padding: 20px;
    
}
.sidebar__rightside{
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-width: 10vw;
}

.sidebar__searchbar{
    display:flex;
    border-radius: 20px;
    background: white;
    margin:8px;
    padding:8px;

}
.sidebar__searchbar, .MuiSVgIcon-root {
    color: gray;
    padding: 10px;
    }




.sidebar__searchbar > input{
border: none;
background: none;
margin-left: 10px;;

}

.sidebar__Chats{
    background-color: white;
    overflow: scroll;
    flex:1;
}

.sideabar__headerUserName{
    display:flex;
    align-items: center;
}

.sideabar__headerUserName p{
    margin-left: 15px;
    font-size: 20px;
}